@import "tailwindcss";

:root {
  --color-bg: #F5F5F5;
  --color-primary: #B4252A;
  --color-secondary: #B4252A;
  --color-accent: #B4252A;
  --color-muted: #EBEBEB;
  --color-text: #000000;
  --font-open-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-weight: 400;
  font-family: var(--font-open-sans);
}

.link {
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease-in-out;
  color: var(--color-text);
}

.link:hover {
  color: var(--color-accent);
} 